<div class="has-text-black is-size-4">Add a new album here.</div>

<hr>

<nav class="level">
<%= render 'form', album: @album %>


<%#<%= link_to('Add to DB', @album.form.submit, :class => "button is-light is-filled") %>
<%= link_to('Back', albums_path, :class => "button is-light is-filled") %>
</nav>